<footer class="h-card footer">
  <data class="u-url" href="/"></data>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            <svg class="svg-icon">
              <use
                xlink:href="/assets/minima-social-icons.svg#googleplus"
              ></use>
            </svg>
            <a class="u-email" href="mailto:nachoalianiello@gmail.com"
              >nachoalianiello@gmail.com</a
            >
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/NachoAlia"
              ><svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#github"></use>
              </svg>
              <span class="username">NachoAlia</span></a
            >
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-4 footerowl">
        <p>2023 - NachoAlianiello</p>
      </div>
    </div>
  </div>
</footer>
