<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>My portfolio</title>
  <link rel="stylesheet" href="/assets/main.css" />
  <link rel="stylesheet" href="{{ site.maincss.url }}" />
</head>
<header role="banner" style="display: flex; justify-content: center">
  <div class="wrapper">
    <a class="site-title" style="color: #ffffff" rel="author" href="/">
      <img src="https://jekyllrb.com/img/logo-2x.png" alt="" width="150" />
    </a>
  </div>
</header>
