body{
    background-color: #2e2d2d;
    color:#ffffff
}

.corporate{
    color:rgba(160, 128, 46, 0.884) !important;
}
.footer-heading{
    color:rgb(179, 136, 27) !important;
}
.footer {
    margin-bottom: 0px;
    height: 1px;
    background-color: transparent;
}
.post-link{
    color:rgb(178, 74, 226) !important;
    font-size: large !important;
}
.post-link:hover{
    color:rgb(247, 114, 247) !important;
    text-decoration: none;
}


a{
    color:#ffffff
}
a:visited{
    color:#ffffff
}
ul li {
    position: relative;
}
ul li .divider {
    position: absolute;
    top:120%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 10px; /* Añade márgenes a ambos lados del hr para separarlo de otros elementos */
}

.page-content{
    background-color: #2e2d2d;
}
.site-header{
    margin-top: -5px;
}

.content_home{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}

/* Estilos para el tema claro */
[data-theme="light"] {
    background-color: #ffffff;
    color: #000000;
  }
  
  /* Estilos para el tema oscuro */
  [data-theme="dark"] {
    background-color: #2e2d2d;
    color: #ffffff;
  }
  .pruebacolor{
    color:red
  }