---
layout: default
home: true
---

<div class="home">
  <h3 class="post-list-heading">Post</h3>
  <ul class="post-list">
    {% for post in site.posts %}
    <span class="post-meta"
      >{{ post.date | date: "%d %B %Y" | date_to_spanish}}</span
    >
    <li>
      <a href="{{ post.url }}" class="post-link">{{ post.title }}</a>

      <span class="post-meta post-description">{{ post.description}}</span>
    </li>
    {% endfor %}
  </ul>
</div>
